
@import './libs/themes/common-theme';
@import './libs/themes/global-styles';

:host {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

.error-page-container {
  border-radius: 8px;
  border: 1px solid map-get($app-foreground, border);
  background-color: white;
  padding: 25px;
  height: 335px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .logo {
    height: 85px;
  }

  .key-field{
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }

  .error-page-title {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    color: map-get($app-foreground, secondary-text);
  }

  .error-page-action-container {
    padding-top: 20px;
    padding-bottom: 10px;

    .error-page-action {
      text-align: center;
      max-width: 200px;
      min-width: 200px;
    }
  }
}
