@import './libs/themes/common-theme';
@import './libs/themes/global-styles';

.mini-weather-item-inner-container{
  border: 1px solid map-get($app-foreground, border);
  border-radius: 8px;
  max-width: 290px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-height: 243px;

  .mini-weather-title{
    font-size:20px;
    font-weight: 500;
  }

  .double-flex-container{
    margin-top: 15px;

    .flex-item{
      flex: 0 1 95px;
      text-align: center;
      flex-direction: column;
      justify-content: space-evenly;

      .light-txt{
        font-size: 14px;
      }
    }

    .icon{
      height: 75px;
      width: 75px;
      font-size: 75px;
    }
  }

  .mini-weather-info-container{
    padding: 15px;
    background-color: map-get($app-background, title-container);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-right: -16px;
    margin-left: -16px;
    margin-top: -16px;
    border-bottom: 1px solid map-get($app-foreground, border);
  }

}
